:root{
  color-scheme: dark light;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body{
  /* width: 100%; */
  height: 100vh;
  background-image: url('./01-place.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  display: grid;
  place-content: center;
  /* margin: 0 auto; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}